[submodule "src/typed-racket"]
	path = src/typed-racket
	url = https://github.com/bennn/typed-racket
	branch = icfp-locally-defensive
[submodule "src/require-typed-check"]
	path = src/require-typed-check
	url = https://github.com/bennn/require-typed-check
	branch = icfp-locally-defensive
[submodule "src/racket"]
	path = src/racket
	url = https://github.com/bennn/racket
	branch = icfp-locally-defensive
[submodule "src/scribble"]
	path = src/scribble
	url = https://github.com/bennn/scribble
	branch = icfp-locally-defensive
[submodule "src/gtp-measure"]
	path = src/gtp-measure
	url = https://github.com/bennn/gtp-measure
	branch = icfp-locally-defensive
